<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>CRUD RPG</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css"> 
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron text-center" id="hero">
        <h1>CRUD RPG</h1>
        </div>
      </div>
      <div class="row text-center" id="main">
        <div class="col-md-8 col-sm-8" id="game">
          <button type="button" class="btn btn-primary"  id="characterGen">Generate Character</button>
          <div id="map"></div>
          <div id="createEnemy">
            <form>
              <h1>Create an Enemy</h1>
              <input type="text" id="name" placeholder="Name"><br>
              <input type="text" id="str" placeholder="Strength"><br>
              <input type="text" id="int" placeholder="Intelligence"><br>
              <input type="text" id="dex" placeholder="Dexterity"><br>
              <input type="text" id="spt" placeholder="Spirit"><br>
              <select id="race">
                <option value="Orc">Orc</option>
                <option value="Warg">Warg</option>
                <option value="Grizzly">Grizzly</option>
                <option value="Bat">Bat</option>
              </select>
              <select id="level">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <input type="submit" class="btn btn-primary" id="enemySubmit" value="Submit">
            </form>
          </div>
        </div>
        <div class="col-md-4 col-sm-4" id="stats">
          <h1>Character</h1>
          <hr>
          <h3 id="name"></h3>
          <h3 id="race"></h3>
          <h3 id="profession"></h3>
          <h3 id="str"></h3>
          <h3 id="int"></h3>
          <h3 id="dex"></h3>
          <h3 id="spt"></h3>
          <h3 id="skills"></h3>
        </div>
      </div>
    </div>
    <footer class="footer">
          <div class="container">
            <div class="center">
                
            </div>
          </div>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/client.js"></script>
  </body>
</html>
