@import url('https://fonts.googleapis.com/css?family=Sansita')

#map {
  display: none;
}

/*sticky footer*/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Sansita", sans-serif!important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #d3d3d3;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}